<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./n-styles.css" />
    <!-- <link rel="stylesheet" href="./styles.css" /> -->
    <!-- <link rel="stylesheet" href="./m-style.css" /> -->
    <!-- <link rel="stylesheet" href="./t-style.css" /> -->
    <!-- <link rel="stylesheet" href="./styles-res.css" /> -->
    <title>Findar PDF Template</title>
</head>
<body>

<div class="container">
    <!-- first section with the details  -->
    <div class="first-section">
        <div class="text">
            <img
            class="logo"
            src="./static/logo.svg" alt="Your Logo" />
            <div class="for-rent rent-bubble">For <span>Rent/lease</span></div>
            <div class="title-n-location">
                <h2>
                    Modern Studio with In-Unit Laundry - Perfect for City Living!
                </h2>
                <div class="loc-n-price">
                    <p class="location">
                        <!-- <i class="fas fa-location"></i> -->
                        Mosta, Malta
                    </p>

                    <p>$<span>900</span>&nbsp;<span>Monthly</span></p>
                </div>
            </div>
        </div>
        <div class="image-feature">
            <img
            class="hero-bg-image"
            src="/static/hero-bg.png"
            />
            <div class="features flex">
                <div class="bathroom">
                    <p>Bathroom</p>
                    <h2 th:text="${property.numberOfBathrooms}"></h2>
                </div>
                <div class="bedroom">
                    <p>Bedroom</p>
                    <h2 th:text="${property.numberOfBedrooms}"></h2>
                </div>
            </div>
            <img class="hero-image" src="./static/image-four.jpg" alt="" />
        </div>
        <img
                class="findar-icon"
                src="./static/findar-icon.svg"
                alt="Findar Icon"
        />
    </div>
    <!-- First Section Ends here  -->
    <div class="inner-container">
<!--        <div class="section ltr-section">-->
<!--            <div class="asterisk">-->
<!--                <img src="./static/Asterisk.svg" alt="" />-->
<!--            </div>-->
<!--            <div class="inner-section">-->
<!--                <div class="desc">-->
<!--                    <p>-->
<!--                        Many people share useful tools and bits of code on GitHub that-->
<!--                        you can use for your own projects. For instance, if you're-->
<!--                        creating a website, you might find pre-written code for a-->
<!--                        contact form that you can incorporate into your own site.-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="text">-->
<!--                    <h1>Bathroom</h1>-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <div class="bg-image">-->
<!--                        <img-->
<!--                                src="./static/image-one.jpg"-->
<!--                                alt="Drone view of a house with the owner in a swimming pool"-->
<!--                        />-->
<!--                    </div>-->
<!--                    <div class="fg-image">-->
<!--                        <img-->
<!--                                src="./static/image-one.jpg"-->
<!--                                alt="Drone view of a house with the owner in a swimming pool"-->
<!--                        />-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
            <div th:each="brochure, iterStat : ${propertyBrochure}">
                <div th:class="${iterStat.index % 2 == 0} ? 'section ltr-section' : 'section rtl-section'">
                   
                    <div class="inner-section">
                        <div class="asterisk">
                            <img src="./static/Asterisk.svg" alt="" />
                        </div>
                        <div class="desc">
                            <p>This is the description</p>
<!--                               <p th:text="${brochure.description}"></p>-->
                        </div>
                        <div class="feature-text">
                            <img 
                            class="text-wave-top"
                            src="./static/featureTextWaves.svg" alt="" />
<!--                            <h1 th:text="${brochure.title}"></h1>-->
                            <h1>Bathroom</h1>
                            <img 
                            class="text-wave-bottom"
                            src="./static/featureTextWavesTwo.png" alt="" />
                        </div>
                        <div class="image">
                            <div class="bg-glass">
                                <!-- <img src="static/image-four.jpg" alt="" srcset=""> -->
                            </div>
                            <div class="fg-image">
                                <img src="static/image-four.jpg" alt="" srcset="">
<!--                                <img th:src="${brochure.url}" th:alt="${brochure.description}" />-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:each="brochure, iterStat : ${propertyBrochure} reverse">
                <div th:class="${iterStat.index % 2 == 0} ? 'section ltr-section' : 'section rtl-section'">
                    <div class="reverse-row inner-section">
                        <div class="asterisk">
                            <img src="./static/Asterisk.svg" alt="" />
                        </div>
                        <div class="desc">
                            <p>This is the description</p>
<!--                               <p th:text="${brochure.description}"></p>-->
                        </div>
                        <div class="feature-text">
                            <img 
                            class="text-wave-top"
                            src="./static/featureTextWaves.svg" alt="" />
<!--                            <h1 th:text="${brochure.title}"></h1>-->
                            <h1>Bathroom</h1>
                            <img 
                            class="text-wave-bottom"
                            src="./static/featureTextWavesTwo.png" alt="" />
                        </div>
                        <div class="image">
                            <div class="bg-glass">
                                <!-- <img src="static/image-four.jpg" alt="" srcset=""> -->
                            </div>
                            <div class="fg-image">
                                <img src="static/image-four.jpg" alt="" srcset="">
<!--                                <img th:src="${brochure.url}" th:alt="${brochure.description}" />-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--        <div class="section rtl-section">-->
<!--            <div class="asterisk">-->
<!--                <img src="./static/Asterisk.svg" alt="" />-->
<!--            </div>-->
<!--            <div class="inner-section">-->
<!--                <div class="desc">-->
<!--                    <p>-->
<!--                        Many people share useful tools and bits of code on GitHub that-->
<!--                        you can use for your own projects. For instance, if you're-->
<!--                        creating a website, you might find pre-written code for a-->
<!--                        contact form that you can incorporate into your own site.-->
<!--                    </p>-->
<!--                </div>-->
<!--                <div class="text">-->
<!--                    <h1>Bathroom</h1>-->
<!--                </div>-->
<!--                <div class="image">-->
<!--                    <div class="bg-image">-->
<!--                        <img-->
<!--                                src="./static/image-two.jpg"-->
<!--                                alt="Drone view of a house with the owner in a swimming pool"-->
<!--                        />-->
<!--                    </div>-->
<!--                    <div class="fg-image">-->
<!--                        <img-->
<!--                                src="./static/image-two.jpg"-->
<!--                                alt="Drone view of a house with the owner in a swimming pool"-->
<!--                        />-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <div class="about-property">
        <div class="text">
            <div class="header"><h1>About Property</h1></div>
            <div class="body">
                <p>
                    Located in Mosta, 5.5 km from University of Malta and 7 km from
                    Bay Street Shopping Complex, Mosta Garden Studio provides
                    air-conditioned accommodation with a patio and free WiFi. 7.5 km
                    from Love Monument and 8.3 km from Malta National Aquarium, the
                    property features a garden and barbecue facilities. The property
                    is non-smoking and is situated 7.3 km from Portomaso Marina. This
                    apartment is equipped with 1 bedroom, a kitchenette with an oven
                    and a microwave, a flat-screen TV, a seating area and 1 bathroom
                    equipped with a shower. Guests can enjoy a meal on an outdoor
                    dining area while overlooking the garden views. The apartment
                    offers bed linen, towels and laundry service. The Point Shopping
                    Mall is 8.7 km from the apartment, while Upper Barrakka Gardens is
                    9 km away. The nearest airport is Malta International Airport, 10
                    km from Mosta Garden Studio. 🚿 Shared Bathroom: Exclusively for 2
                    rooms 📅 Availability: Starting from June 1 🕒 Lease: Long-term
                    Limit : One person maximum in each room
                </p>
            </div>
        </div>
        <div class="ap-features relative">
            <img
            class="feature-bg-image"
            src="/static/hero-bg.png"
            />
            <div class="black-features">
                <div><h1>Features</h1></div>
                <div class="feature flex">
                    <div class="flex apartment-feature">
                        <img src="/static/house.svg"/>
                        <p>Modern Apartment</p>
                    </div>
                    <div class="flex apartment-feature">
                        <img src="/static/house.svg"/>
                        <p>Modern Apartment</p>
                    </div>
                    <div class="flex apartment-feature">
                        <img src="/static/house.svg"/>
                        <p>Modern Apartment</p>
                    </div>
                    <div class="flex apartment-feature">
                        <img src="/static/house.svg"/>
                        <p>Modern Apartment</p>
                    </div>
                    <div class="flex apartment-feature">
                        <img src="/static/house.svg"/>
                        <p>Modern Apartment</p>
                    </div>
                    <div class="flex apartment-feature">
                        <img src="/static/house.svg"/>
                        <p>Modern Apartment</p>
                    </div>
                    <div class="flex apartment-feature">
                        <img src="/static/house.svg"/>
                        <p>Modern Apartment</p>
                    </div>
                    <div class="flex apartment-feature">
                        <img src="/static/house.svg"/>
                        <p>Modern Apartment</p>
                    </div>
                    <div class="flex apartment-feature">
                        <img src="/static/house.svg"/>
                        <p>Modern Apartment</p>
                    </div>
                    <div class="flex apartment-feature">
                        <img src="/static/house.svg"/>
                        <p>Modern Apartment</p>
                    </div>
                    <div class="flex apartment-feature">
                        <img src="/static/house.svg"/>
                        <p>Modern Apartment</p>
                    </div>
                    <div class="flex apartment-feature">
                        <img src="/static/house.svg"/>
                        <p>Modern Apartment</p>
                    </div>
                    <div class="flex apartment-feature">
                        <img src="/static/house.svg"/>
                        <p>Modern Apartment</p>
                    </div>
                    <div class="flex apartment-feature">
                        <img src="/static/house.svg"/>
                        <p>Modern Apartment</p>
                    </div>
                    <!--
                    <div class="left">
                      <div class="">
                        <i class="fas fa-house"></i>
                        <p>Modern Apartment</p>
                        <img src="./static/blob.svg" alt="" />
                      </div>
                      <div class="">
                        <i class="fas fa-house"></i>
                        <p>Modern Apartment</p>
                        <img src="./static/blob.svg" alt="" />
                      </div>
                      <div class="">
                        <i class="fas fa-house"></i>
                        <p>Modern Apartment</p>
                        <img src="./static/blob.svg" alt="" />
                      </div>
                      <div class="">
                        <i class="fas fa-house"></i>
                        <p>Modern Apartment</p>
                        <img src="./static/blob.svg" alt="" />
                      </div>
                      <div class="">
                        <i class="fas fa-house"></i>
                        <p>Modern Apartment</p>
                        <img src="./static/blob.svg" alt="" />
                      </div>
                      <div class="">
                        <i class="fas fa-house"></i>
                        <p>Modern Apartment</p>
                        <img src="./static/blob.svg" alt="" />
                      </div>
                    </div>
                    <div class="right">
                      <div class="">
                        <i class="fas fa-house"></i>
                        <p>Modern Apartment</p>
                        <img src="./static/blob.svg" alt="" />
                      </div>
                      <div class="">
                        <i class="fas fa-house"></i>
                        <p>Modern Apartment</p>
                        <img src="./static/blob.svg" alt="" />
                      </div>
                      <div class="">
                        <i class="fas fa-house"></i>
                        <p>Modern Apartment</p>
                        <img src="./static/blob.svg" alt="" />
                      </div>
                      <div class="">
                        <i class="fas fa-house"></i>
                        <p>Modern Apartment</p>
                        <img src="./static/blob.svg" alt="" />
                      </div>
                      <div class="">
                        <i class="fas fa-house"></i>
                        <p>Modern Apartment</p>
                        <img src="./static/blob.svg" alt="" />
                      </div>
                      <div class="">
                        <i class="fas fa-house"></i>
                        <p>Modern Apartment</p>
                        <img src="./static/blob.svg" alt="" />
                      </div>
                    </div>-->
                </div>
            </div>
            <div class="star">
                <img src="./static/Star.svg" alt="" />
            </div>
            <div class="outline-features"></div>
        </div>
    </div>
    <div class="footer">
        <footer>
            <p>© copyright - Findar 2024</p>
        </footer>
    </div>
</div>
</body>
</html>
